.info {
  width: 83%;
  margin: 30px auto;
  @media screen and (max-width: 870px) {
    width: 100%;
  }
  .titleIcon {
    background-color: #ff6060;
    color: white;
    padding: 12px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 560px) {
      padding: 8px 15px;
    }
    @media screen and (max-width: 450px) {
      padding: 2px 15px;
    }
    h2 {
      font-family: "inter", sans-serif;
      letter-spacing: 0.1rem;
    }
    @media screen and (max-width: 560px) {
      font-size: 0.9rem;
      letter-spacing: normal;
    }
    @media screen and (max-width: 450px) {
      font-size: 0.8rem;
    }
    i {
      font-size: 1.9rem;
      padding-right: 10px;
      cursor: pointer;
      @media screen and (max-width: 560px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 1.7rem;
      }
    }
  }
  p {
    font-size: 1.2rem;
    padding: 20px 15px;
    background: rgb(246, 246, 246);
    margin-bottom: 30px;
    border-radius: 0 0 5px 5px;
    line-height: 1.5;
  }
}
