@import "../settings";
.header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 41px 0;
    width: 87%;
    margin: auto;
  }

  img {
    @media screen and (max-width: 545px) {
      height: 3rem;
      padding-right: 10px;
    }
    @media screen and (max-width: 410px) {
      height: 2.8rem;
    }
    @media screen and (max-width: 375px) {
      height: 2.6rem;
    }
    @media screen and (max-width: 343px) {
      height: 2.3rem;
    }
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  @media screen and (max-width: 735px) {
    gap: 30px;
  }
  @media screen and (max-width: 666px) {
    gap: 20px;
  }
  @media screen and (max-width: 513px) {
    gap: 0px;
  }
  li {
    list-style: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: $font2;
    font-weight: 500;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    @media screen and (max-width: 667px) {
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
    }

    @media screen and (max-width: 567px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 444px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 426px) {
      font-size: 0.95rem;
    }
    @media screen and (max-width: 416px) {
      font-size: 0.85rem;
    }
    @media screen and (max-width: 387px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 367px) {
      font-size: 0.78rem;
    }
    @media screen and (max-width: 362px) {
      font-size: 0.68rem;
    }
    a {
      text-decoration: none;
      color: black;
      &.underline {
        text-decoration: underline;
      }
    }
  }
}
