.host {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 50px;
  @media screen and (max-width: 870px) {
    padding-bottom: 0;
  }
  img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 150%;
  }
  h3 {
    color: #ff6060;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    display: block;
    width: 120px;
  }
}
