.info {
  width: 83%;
  margin: 30px auto;
  h2 {
    background-color: #ff6060;
    color: white;
    font-family: "inter", sans-serif;
    padding: 12px 15px;
    border-radius: 5px;
    letter-spacing: 0.1rem;
  }
  p {
    padding: 15px;
    background: rgb(246, 246, 246);
    margin-bottom: 30px;
  }
}
