@import "../settings";
section {
  width: 87%;
  margin: auto;
  .container_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 870px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  .container_description {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    @media screen and (max-width: 870px) {
      display: block;
    }
  }
  .part_left {
    @media screen and (max-width: 870px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}
