.tags {
  width: 100%;
  ul {
    display: inline-flex;
    text-align: center;
    justify-content: start;
    gap: 0;
    margin-top: 20px;
    margin-right: 10px;
    width: 100%;
    // @media screen and (max-width: 535px) {
    //   flex-wrap: wrap;
    //   gap: 5px;
    // }

    li {
      background: #ff6060;
      color: white;
      padding: 7px 6px;
      font-size: 0.95rem;
      font-weight: 500;
      border-radius: 12px;
      width: 150px;

      @media screen and (max-width: 618px) {
        font-size: 0.8rem;
        border-radius: 8px;
        width: 138px;
      }
      @media screen and (max-width: 446px) {
        font-size: 0.65rem;
      }
      @media screen and (max-width: 386px) {
        font-size: 0.6rem;
      }
    }
  }
}
