.tags {
  width: 100%;
  ul {
    display: inline-flex;
    text-align: center;
    justify-content: start;
    gap: 0;
    margin-top: 20px;
    margin-right: 10px;
    width: 100%;
    @media screen and (max-width: 420px) {
      flex-wrap: wrap;
      gap: 5px;
    }

    li {
      background: $color1;
      color: $white;
      padding: 7px 6px;
      font-size: 0.95rem;
      font-weight: 500;
      border-radius: 12px;
      width: 150px;

      @media screen and (max-width: 618px) {
        font-size: 0.8rem;
        border-radius: 8px;
        width: 138px;
      }
      @media screen and (max-width: 574px) {
        font-size: 0.65rem;
        width: 120px;
      }
      @media screen and (max-width: 478px) {
        font-size: 0.6rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 0.55rem;
      }
      @media screen and (max-width: 420px) {
        font-size: 0.7rem;
        width: 138px;
      }
      @media screen and (max-width: 329px) {
        font-size: 0.8rem;
        width: 180px;
      }
    }
  }
}
