// @font-face {
//   font-family: $font1;
//   src: url(../assets/fonts/Inter.ttf);
// }
// $font1: "inter", "sans_serif";

$color1: #ff6060;
$black: #0000;
$white: white;
$colo4: rgb(246, 246, 246);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "inter", "sans-serif";
  padding: 0 20px;
}
